[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = zachvalenta
	email = zjv5002@gmail.com
[color]
	ui = auto
[alias]
	ai = add -p
	b = branch -v
	c = commit -v
	co = checkout
	d = diff
	ds = diff --staged
    ma = checkout master
	count = rev-list --count HEAD
	far = remote -v show
	conf = config --global --list
	nb = checkout -b
	l = log --graph --oneline --all --decorate
	s = status -s  # shorter output
	t = show -s --format=%ci  # timestamp of last commit
	u = reset HEAD
[color]
	ui = always
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[push]
	default = simple
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
